.home .fusewall-demo {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*  background: #000;*/
}

body {
    background: #eee;
    -webkit-font-smoothing: antialiased;
    min-height: 100%;
}

md-content {
    background: #eee;
}

ng-md-icon.lazy-lazy-lazy {
    position: relative;
    top: 5px;
}

.login h1, .login h3 {
    font-weight: 300;
}

.login h1 {
    color: #636363;
}

.login h3 {
    color: #4a89dc;
}

.login form {
    width: 340px;
    margin: 1em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.header-menu {
    position: absolute;
    top: 16px;
    left: 16px;
    right: 16px;
}

.content {
    padding-top: 76px;
    min-height: 300px;
}

.fusewall-demo line.link, .fusewall-demo .link line {
    stroke: #696969;
    stroke-width: 5px;
}

.fusewall-demo * text {
    pointer-events: none;
}

.fusewall-demo {
    position: relative;
}

.fusewall-demo #selectionDetails, .fusewall-demo #selectionDetails-Empty {
    position: absolute;
    z-index: 100000;
    border-radius: 5px;
    border: 1px solid #777;
    top: 25px;
    left: 25px;
    height: 135px;
    width: 350px;
    background: #F7F7F7;
    padding: 0.4em;
}

.fusewall-demo #selectionDetails-Empty, .fusewall-demo #selectionDetails #title {
    font-size: 1.1em;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0.45em;
    padding: 0.15em;
}

.fusewall-demo #selectionDetails #title {
    border-bottom: 1px solid #CFCFCF;
}

.fusewall-demo #selectionDetails-Empty #placeholder {
    top: 50px;
    position: relative;
}

.fusewall-demo #selectionDetails .left {
    float: left;
    padding-right: 15px;
}

.fusewall-demo #selectionDetails #image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

.fusewall-demo #selectionDetails #ama-contents {
    font-weight: 400;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.fusewall-demo .node .org {
}

.fusewall-demo .node .team {
}

.fusewall-demo .node .product {
}

.fusewall-demo .node .people {
    shape-outside: circle(50%);
}

.dialog-entity-left {
    padding-right: 10px;
    padding-bottom: 20px;
}

.dialog-entity-right {
    min-width: 400px;
    margin: -1em;
}

.dialog-entity-image {
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
}

ul {
    overflow: hidden;
}

.full-screen {
    max-height: 100%;
    overflow-y: scroll;
}

.wall-search {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 150px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 6px;
    z-index: 100;
    padding: 0.5em;
    outline: none;
}

.spinner {
    top: 50%;
    left: 50%;
}

md-toast.md-success-toast-theme .md-toast-content {
    background-color: #5eba7d;
}