<div layout="column" layout-align="center center" class="login">
    <div layout="column" layout-align="center center">
        <h1>Fusewall Login</h1>
        <h3>Enter Credentials</h3>
    </div>

    <form name="clientLogin" ng-submit="adminLogin()">
        <md-input-container class="md-block">
            <input ng-model="user.name" name="userName" type="text" placeholder="Name" id="usernameInput" autofocus>
        </md-input-container>
        <md-input-container class="md-block">
            <input ng-model="user.password" type="password" placeholder="Password" name="userPassword"
                   id="passwordInput">
        </md-input-container>

        <div layout="column" layout-align="center center">
            <md-button flex type="submit" id="loginButton" class="md-raised md-primary md-block"
                       ng-click="adminLogin()">Login
            </md-button>
        </div>
    </form>
</div>