<md-content class="full-screen md-padding" layout="column" ng-cloak="">
    <div layout="row" class="header-menu">
        <div flex class="header">
            <h1>{{currentEditConfiguration.title}}</h1>
        </div>
        <div layout="column" layout-align="center end">
            <md-fab-speed-dial md-open="isOpen" md-direction="down" class="md-fling">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon class="material-icons" id="menu">menu</md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="Person" class="md-fab md-raised md-mini">
                        <md-icon aria-label="Person" ng-click="selectThingToEdit('people')" id="peopleMenu">
                            <i class="material-icons">person_outline</i>
                        </md-icon>
                    </md-button>
                    <md-button aria-label="Squads" class="md-fab md-raised md-mini">
                        <md-icon aria-label="Squads" ng-click="selectThingToEdit('squads')" id="squadsMenu">
                            <i class="material-icons">people_outline</i>
                        </md-icon>
                    </md-button>
                    <md-button aria-label="Products" class="md-fab md-raised md-mini">
                        <md-icon aria-label="Products" ng-click="selectThingToEdit('products')" id="productsMenu">
                            <i class="material-icons">apps</i>
                        </md-icon>
                    </md-button>
                    <md-button aria-label="Log Out" class="md-fab md-raised md-mini">
                        <md-icon aria-label="Log Out" ng-click="logout()" id="logoutMenu">
                            <i class="material-icons">exit_to_app</i>
                        </md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>

    <div class="content full-screen" layout="column">
        <md-subheader class="md-no-sticky">Select A {{currentEditConfiguration.thingy}}</md-subheader>

        <div flex layout="row" class="full-screen">
            <md-list flex flex-gt-sm="25" class="full-screen">
                <md-list-item class="md-3-line" ng-repeat="graphEntity in allTheThingsList | orderBy: 'title'"
                              ng-click="editTheEntity(graphEntity)">
                    <img ng-src="{{graphEntity.imageUrl}}" class="md-avatar" alt="{{graphEntity.title}}"/>
                    <div class="md-list-item-text" layout="column">
                        <h3>{{graphEntity.title}}</h3>
                    </div>
                </md-list-item>
            </md-list>

            <div flex flex-gt-sm="75">
                <form name="editEntityForm">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Name</label>
                        <input ng-model="selected.name">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <span>Upload Image</span>
                        <lf-ng-md-file-input lf-files="files" lf-api="fileApi"></lf-ng-md-file-input>
                        <div class="md-errors-spacer"></div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label ng-bind="currentEditConfiguration.detailsLabel">AMA</label>
                        <textarea rows="2" ng-model="selected.details" md-maxlength="10000"></textarea>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs ng-if="currentEditConfiguration.display == 'people'">
                        <label>Credential Free Editing Link (share wisely!)</label>
                        <input type="text" ng-model="selected.singleEditLink" nd-disabled="true" ng-readonly="true"/>
                    </md-input-container>

                    <span ng-if="currentEditConfiguration.display == 'people' || currentEditConfiguration.display == 'products'">
                        <md-input-container class="md-block" flex-gt-xs ng-repeat="squad in selected.squads">
                            <md-select ng-model="squad.squadId">
                              <md-option ng-repeat="availableSquad in allSquads" value="{{availableSquad.squadId}}">
                                {{availableSquad.title}}
                              </md-option>
                            </md-select>
                        </md-input-container>
                        <md-button class="md-raised md-primary" ng-click="addSquad()">
                            <ng-md-icon icon="group_add" style="fill: white" aria-label="Add Group"
                                        size="24" class="lazy-lazy-lazy"></ng-md-icon>
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="removeSquad()">Delete Dat Last Squad
                        </md-button>
                    </span>

                    <md-button class="md-raised md-primary" ng-click="deleteSelected()">Delete</md-button>
                    <md-button class="md-raised md-primary" ng-click="saveEdit()">Save</md-button>
                    <md-button class="md-raised md-primary" ng-click="cancelEdit()">Cancel</md-button>
                </form>
            </div>
        </div>
    </div>
</md-content>