<md-content class="full-screen md-padding" layout="column" ng-cloak="">
    <div layout="row" class="header-menu">
        <div layout="column" layout-align="center end">
            <md-fab-speed-dial md-open="isOpen" md-direction="down" class="md-fling">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn">
                        <md-icon class="material-icons" id="menu">menu</md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="Log Out" class="md-fab md-raised md-mini">
                        <md-icon aria-label="Log Out" ng-click="logout()" id="logoutMenu">
                            <i class="material-icons">exit_to_app</i>
                        </md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </div>

    <div class="content full-screen" layout="column">
        <div flex layout="row" class="full-screen">
            <div flex>
                <form name="editEntityForm">
                    <md-input-container class="md-block" flex-gt-xs>
                        <label>Name</label>
                        <input ng-model="selected.name">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <span>Upload Image</span>
                        <lf-ng-md-file-input lf-files="files" lf-api="fileApi"></lf-ng-md-file-input>
                        <div class="md-errors-spacer"></div>
                    </md-input-container>
                    <md-input-container class="md-block" flex-gt-xs>
                        <label ng-bind="currentEditConfiguration.detailsLabel">AMA</label>
                        <textarea rows="2" ng-model="selected.details" md-maxlength="10000"></textarea>
                    </md-input-container>

                    <md-input-container class="md-block" flex-gt-xs ng-repeat="squad in selected.squads">
                        <md-select ng-model="squad.squadId">
                            <md-option ng-repeat="availableSquad in allSquads" value="{{availableSquad.squadId}}">
                                {{availableSquad.title}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-button class="md-raised md-primary" ng-click="addSquad()">
                        <ng-md-icon icon="group_add" style="fill: white" aria-label="Add Group"
                                    size="24" class="lazy-lazy-lazy"></ng-md-icon>
                    </md-button>
                    <md-button class="md-raised md-primary" ng-click="removeSquad()">Delete Dat Last Squad
                    </md-button>

                    <md-button class="md-raised md-primary" ng-click="saveEdit()">Save</md-button>
                </form>
            </div>
        </div>
    </div>
</md-content>