<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-bind="entity.title"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon aria-label="Close dialog">
                        <i class="material-icons">close</i>
                    </md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="dialog-entity-left" style="float: left;">
                    <div class="dialog-entity-image"
                         ng-style="{'background-image': 'url(' + entity.imageUrl + ')'}"></div>
                </div>
                <div class="dialog-entity-right" markdown-to-html="entity.description"></div>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>