<div class="home">
    <md-content class="md-padding" layout="column" ng-cloak="">
        <div layout="column" layout-align="center end">
            <md-fab-speed-dial md-open="isOpen" md-direction="down" class="md-fling">
                <md-fab-trigger>
                    <md-button aria-label="menu" class="md-fab md-warn" id="menu">
                        <md-icon class="material-icons">menu</md-icon>
                    </md-button>
                </md-fab-trigger>

                <md-fab-actions>
                    <md-button aria-label="Share" class="md-fab md-raised md-mini">
                        <md-icon aria-label="Share">
                            <i class="material-icons">share</i>
                        </md-icon>
                    </md-button>
                    <a href="#!/login" id="login">
                        <md-button aria-label="Log In" class="md-fab md-raised md-mini">
                            <md-icon aria-label="Log In">
                                <i class="material-icons">account_box</i>
                            </md-icon>
                        </md-button>
                    </a>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </md-content>


    <input type="search" ng-model="currentSearch" placeholder="search" autofocus class="wall-search">

    <div class="fusewall-demo" id="fusewall-demo"></div>
</div>